.addbook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}
.inputdiv{
    width: 400px;
}
.input{
    margin: 5px 0 5px 0;
}

.headdiv{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 10px 0 10px;
}

.booklist{
    margin: 10px 20px 0 20px;
}

.buttondiv{
    width: 150px;
    display: flex;
    justify-content: space-around;
    background-color: palegreen;
}
